@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui";


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #68A063;
  overflow-y: auto; 
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}

main {
  flex: 1;
  padding: 1rem;
}