services:
  - type: web
    name: expressnote
    runtime: node
    repo: https://github.com/amilia-n/ExpressNote
    buildCommand: |
      cd server && npm install
      cd client && npm install && npm run build
      mkdir ./server/public
      cp -r ./client/dist/* ./server/public/
    startCommand: cd server && node server.js
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ExpressNote
          property: connectionString
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        value: https://expressnote.onrender.com

databases:
  - name: ExpressNote
    databaseName: db_ujdo
    user: db_ujdo_user
    plan: free
    region: oregon
    ipAllowList: []
    postgresMajorVersion: "16"
version: "1"