services:
  # Backend service
  - type: web
    name: server
    runtime: node
    repo: https://github.com/amilia-n/ExpressNote
    rootDir: server 
    buildCommand: npm install
    startCommand: node ./server.js
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ExpressNote
          property: connectionString
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        value: https://frontend-ffqt.onrender.com

  # Frontend service
  - type: web
    name: frontend
    runtime: static
    buildCommand: cd client && npm install && npm run build
    staticPublishPath: ./client/dist
    previews:
      generation: automatic
    buildFilter:
      paths:
        - src/**/*.js
      ignoredPaths:
        - src/**/*.test.js
    headers:
      - path: /*
        name: X-Frame-Options
        value: sameorigin

databases:
- name: ExpressNote
  databaseName: db_ujdo
  user: db_ujdo_user
  plan: free
  region: oregon
  ipAllowList: []
  postgresMajorVersion: "16"
version: "1"