.terminal-textarea {
  background: transparent;
  border: none;
  color: #fff;
  font-family: monospace;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.terminal-textarea::-webkit-scrollbar {
  width: 8px;
}

.terminal-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.terminal-textarea::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
  }

.code-button.close {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #ff5f56;
  z-index: 10;
}