.editor-container {
  background-color: rgba(255, 255, 255, 0.881);
  border-radius: 25px;
  padding: 10px;
  height: 100%; 
  width: 100%; 
  overflow: auto; 
}



.text-template {
  height: calc(100% - 40px); 
  padding: 5px;
  outline: none;
  overflow-y: auto;
}

.toolbar-expand:hover {
  opacity: 0.8;
}

.editor-header > *:not(.toolbar-expand) {
  transition: opacity 0.2s ;
}

.editor-header.collapsed > *:not(.toolbar-expand) {
  opacity: 0;
  pointer-events: none;
}